.git
.github
.gitignore
.gitattributes
.idea
.vscode
.vagrant
.yarn
node_modules
vendor
docs
tests
.phpunit.cache
.phpunit.result.cache
.env
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
